In [4]:
print(10)

10

In [3]:
print('Python')

Python

In [5]:
print(10,20,30)

10 20 30

In [8]:
print(10,10.5,'Naresh IT',True)

10 10.5 Naresh IT True

In [9]:
n1=10
n2=20
print(n1,n2)

10 20

In [10]:
print(10),print(20) # good
# None-no value

10
20

(None, None)

In [12]:
print(10,20,30)
print(10)
print(20)

10 20 30
10
20

In [13]:
n1=10
n1

10

In [2]:
a=100
b=200
c=a+b
c
print("the addition of",a, "and" ,b, "is" ,c)

the addition of 100 and 200 is 300

In [ ]:
# read your name 
# read your age
# read your city
# my name is sibani,i am 22 years old i am hydrabad

In [4]:
name='Sibani'
age=22
city='Hydrabad'
print("my name is {}, i am {} years old Im from {}".format(name,age,city))

my name is Sibani, i am 22 years old Im from Hydrabad

In [7]:
emp_name ='Sibani'
emp_role ='Manager'
company ='Tata'
print("the emp name is {},she is a {} in the {} company".format(emp_name,emp_role,company))

the emp name is Sibani,she is a Manager in the Tata company

**F string method**

In [10]:
a=10
b=40
c=a+b
print(f"the addition of {a} and {b} is {c}")

the addition of 10 and 40 is 50

In [12]:
name='sibani'
age=22
city='Hydrabad'
print(f"the emp name is {'sibani'}, I am {22} years old I am from {'Hydrabad'}")

the emp name is sibani, I am 22 years old I am from Hydrabad

In [13]:
emp_name ='Sibani'
emp_role ='Manager'
company ='Teta'
print(f"the emp name is {'Sibani'},she is a {'manager'} in the {'Teta'} company")

the emp name is Sibani,she is a manager in the Teta company

In [7]:
num1=100
num2=200
average=(num1+num2)/2
print("the average of {} and {} is: {}".format(num1,num2,average))
print(f"the average of {num1} and {num2} is: {average}")

the average of 100 and 200 is: 150.0
the average of 100 and 200 is: 150.0

In [10]:
num1=100
num2=200
average=(num1=num2)/2
print("the average of {} and {} is: {}".format(num1,num2,average))
print(f"the average of {num1} and {num2} is: {average}")

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1108114372.py, line 3)

In [11]:
(10+2)/2
10+2/2

# BODMAS

11.0

In [12]:
# take the radius of circle
# take the pi value
# Find the area of the circle = pi*r*r

radius=10
pi_value=3.14
area=pi_value*radius*radius
print("the area of circle is:{}".format(area))
print(f"the area of circle is:{area}")

the area of circle is:314.0
the area of circle is:314.0

- format spelling
- brackets are not providing
- you are keeping
- for getting the quotes also

In [14]:
# take the base of traingle
# take the height of the traingle
# area of the traingle=1/2*base*height
base=10
height=20
area=0.5*base*height
print(f"the area of traingle is: {area}")

the area of traingle is: 100.0

In [ ]:
#

In [15]:
print(10)
print(20)

10
20

In [16]:
print(10,20)

10 20

end

- combining multiple print statement in a single line

In [18]:
print(10,end=' ')
print(20)

10 20

In [19]:
print(10,end=',')
print(20,end='&')
print(30)

10,20&30

sep

- separate the multiple values in a single print satatement

In [20]:
print(10,20,30,sep='&')

# 10 & 20 & 30

10&20&30

In [21]:
print(10,20,30,sep='--->')

10--->20--->30

In [22]:
print(f"the addition of {5} and {3} is {5+3}.")

the addition of 5 and 3 is 8.

In [26]:
print("the addition of {} and {} is {}.".format(5,3,5+3))

the addition of 5 and 3 is 8.

In [29]:
print ('the addition of 5 and 3 is 8','.',sep='')

the addition of 5 and 3 is 8.