- we can store the values output values by using append operations

- we are taking empty list

- we are interating through elements from a given list

- the result we are appending in a new list

In [2]:
squre_list=[]
for i in range(10):
    squre_list.append(i*i)
squre_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

- there are 3 lines are in the process

- the 3 lines we can make into a single line

- this is caled as LIST COMPREHENSION

$pattern - 1$

**only for loop**

In [ ]:
# syntax
# [<output> <for loop>]

In [7]:
squre_list=[]
for i in range(10):
    squre_list.append(i*i)
    
squre_list

# q1) what is the output ? i*i
# q2) what is the output list name ? squre_list
# q3) what is the for loop ? for i in range(10)
# q4) [<output>  <for loop>]
sq_list=[i*i for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#Q2) l1=['hyd','mumbai','chennai','blr']
# upper_list= ['Hyd','Mumbai','Chennai','Blr']

#Q3) l2=['Hyd','Mumbai','Chennai','Blr']
# lower_list=['hyd','mumbai','chennai','blr']

In [8]:
#q2) l1=['hyd','mumbzi','chenai','blr']
# upper_list=['hyd','mumbzi','chenai','blr']
l1=['hyd','mumbzi','chenai','blr']
upper_list=[]
for i in l1:
    upper_list.append(i.upper())
upper_list

['HYD', 'MUMBZI', 'CHENAI', 'BLR']

In [2]:
# q1) what is the output ? i*i
# q2) what is the output list name ? squre_list
# q3) what is the for loop ? for i in range(10)
# q4) [<output>  <for loop>]
l1=['hyd','mumbzi','chenai','blr']
upper_list=[i.upper() for i in l1]
upper_list

['HYD', 'MUMBZI', 'CHENAI', 'BLR']

In [3]:
#Q3) l2=['Hyd','Mumbai','Chennai','Blr']
# lower_list=['hyd','mumbai','chennai','blr']
l2=['Hyd','Mumbai','Chennai','Blr']
lower_list=[i.lower() for i in l2]
lower_list

['hyd', 'mumbai', 'chennai', 'blr']

In [12]:
#q4)  l2=['Hyd','Mumbzi','Chenai','Blr']
# saum of the indexes of all elements

l2=['hyd','mumbzi','chenai','blr']
for i in l2:
    print(l2.index(i))

0
1
2
3

In [4]:
l2=['Hyd','Mumbai','Chennai','Blr']
idx_list=[l2.index(i) for i in l2]
sum(idx_list)

6

In [ ]:
   1 l1=['Hyd', 'Mumbai', 'Chennai', 'Blr']
      2 Sum_List=[i for i in range(len(l1))]
----> 3 sum(Sum_List)
      4 Sum_List

TypeError: 'list' object is not callable

In [5]:
# Fail
l2=['Hyd','Mumbai','Chennai','Blr']
for i in l2:
 val=l2.index(i)
    print(val)
idx_list=[val=l2.index(i) for i in l2]

IndentationError: unexpected indent (4292266541.py, line 5)

- making empty list will not works in list comprehenion

- intialization will not works in list comprehenion

- assignment operation also not works

$pattern-2$

**forloop - if condition**

In [ ]:
# syntax

#[<output>  <forloop>  <if condition>]

In [6]:
# Q5)l1=['Hyd','Mumbai','Chennai','blr']
# ans=['Mumbai','Chennai'] 
# we want lements which are len of element >4
l1=['Hyd','Mumbai','Chennai','blr']
for i in l1:
    if len(i)>4:
        print(i)

Mumbai
Chennai

In [19]:
# q1) what is the output: i
# q2) what is the if condition: if len(i)>4
# q3) what is the for loop ? for i in l1
# q4) [<output>  <for loop>  <if condition>]

l1=['Hyd','Mumbzi','chenai','blr']
op=[i for i in l1 if len(i)>4]
op

['Mumbzi', 'chenai']

In [ ]:
# Q3)l1=['Hyd','Mum#bai','Chen#nai','blr']
# ans=['Mum#bai'',Chen#nai'] 
# we want lements which are having '#'
# Q5)l1=['Hyd','Mumbai','chennai','blr']
# ans= ['Hyd','Mumbai']
# we want lements which are having first letter capital
# Q6)l1=['Hyd','Mum#bai','Chen#nai','blr']
# ans_#=['Mum#bai'',Chen#nai'] for loop and if cond
# ans_without_#=['Hyd'','blr'] 
# we want lements which are having '#' for loop if cond
# Q9) str1='virat.kohli@rcb.com, Rohit.sharma@mi.co, KL.Rahul@lucknow.com'
# Firstname=[] second name=[] cname =[]
# append first name should be in first name list
# second name shoul be in second name list
# thirs name will be in thirs name list

In [7]:
# Q6)l1=['Hyd','Mum#bai','Chen#nai','blr']
# ans=['Mum#bai'',Chen#nai'] 
# we want lements which are having '#'
l1=['Hyd','Mum#bai','Chen#nai','blr']
op=[]
for i in l1:
    if '#' in i:
        op.append(i)
op

['Mum#bai', 'Chen#nai']

In [8]:
op_not_in_ash=[i for i in l1 if '#' not in i]
op_not_in_ash

['Hyd', 'blr']

In [9]:
l1=['Hyd','Mum#bai','Chen#nai','blr']
op_title=[i for i in l1 if i.istitle()]
op_title

['Hyd']

In [10]:
# Q9) str1='virat.kohli@rcb.com, Rohit.sharma@mi.co, KL.Rahul@lucknow.com'
# Firstname=[] second name=[] cname =[]
# append first name should be in first name list
# second name shoul be in second name list
# thirs name will be in thirs name list

# Firstname
str1='virat.kohli@rcb.com, Rohit.sharma@mi.co, KL.Rahul@lucknow.com'
list1=str1.split(',')
list1[0][:list1[0].index('.')] # Virat
list1[1][:list1[1].index('.')] # Rohit
list1[2][:list1[2].index('.')] # KL
# list1[i][:<first_dot_index>]
#list1[i][:list1[i].index('.')]

f_name=[]
for i in list1:
    f_name.append(i[:i.index('.')])
    
[i[:i.index('.')] for i in list1]

['virat', ' Rohit', ' KL']

In [11]:
list1[0],list1[1],list1[2]

('virat.kohli@rcb.com', ' Rohit.sharma@mi.co', ' KL.Rahul@lucknow.com')

In [12]:
list1[0].index('.')

5

In [13]:
str1='virat.kohli@rcb.com, Rohit.sharma@mi.co, KL.Rahul@lucknow.com'
list1=str1.split(',')
list1[0].index('.')
list1[2][:list1[2].index('.')]

' KL'

In [14]:
str1='virat.kohli@rcb.com, Rohit.sharma@mi.co, KL.Rahul@lucknow.com'
list1=str1.split(',')
list1

['virat.kohli@rcb.com', ' Rohit.sharma@mi.co', ' KL.Rahul@lucknow.com']

In [15]:
list1[0][:5]
# what is 5: index of first .

'virat'

In [17]:
name1=list1[0]
ix=list1[0].index('.')
name1[:list1[0].index('.')]

list1[2][:list1[2].index('.')]

list1[i][:list1[i].index('.')]

TypeError: list indices must be integers or slices, not str

In [18]:
for i in range(len(list1)):
    print(list1[i][:list1[i].index('.')])

virat
 Rohit
 KL

In [19]:
for i in list1:
    print(i[:i.index('.')])

virat
 Rohit
 KL

$Pattern − 3$

**if-else**

In [ ]:
[<output> <forloop>] : for loop
[<output> <forloop> <if condition>]: for-if
[<if_output> <if> <else> <else_output> <for>] : if-else

**even-odd**

In [29]:
even_list,odd_list=[],[]
for i in range(1,20):
    if i%2==0:
        even_list.append(f"even:{i}")
    else:
        odd_list.append(f"odd:{i}")

In [30]:
even_list,odd_list

(['even:2',
  'even:4',
  'even:6',
  'even:8',
  'even:10',
  'even:12',
  'even:14',
  'even:16',
  'even:18'],
 ['odd:1',
  'odd:3',
  'odd:5',
  'odd:7',
  'odd:9',
  'odd:11',
  'odd:13',
  'odd:15',
  'odd:17',
  'odd:19'])

In [31]:
op_list=[]
for i in range(1,20):
    if i%2==0:
        op_list.append(f"even:{i}")
    else:
        op_list.append(f"odd:{i}")
op_list

#[<if_op> <if_con> <else> <else_op> <for_loop>]
[f"even:{i}" if i%2==0 else f"odd:{i}" for i in range(1,20)]

['odd:1',
 'even:2',
 'odd:3',
 'even:4',
 'odd:5',
 'even:6',
 'odd:7',
 'even:8',
 'odd:9',
 'even:10',
 'odd:11',
 'even:12',
 'odd:13',
 'even:14',
 'odd:15',
 'even:16',
 'odd:17',
 'even:18',
 'odd:19']