In [ ]:
######### Python divided 3 parts #######################
----- Basics
1) Variables
2) Data types
3) Type conversions
4) Eval input
5) packages
6) Conditional statements
7) Try-execpt
8) Functions
9) For
10) While ( you did this)
------- Intermediate part
11) Strings
12) Lists
13) Dictionary
14) Tuples (You will do this)
15) Sets
16) Lambda functions
17) File handling session
--------- Advanced
18) OOPS

In [ ]:
==================== PART-1 ======================

- initialization
- len
- max
- min
- sorted
- reversed
- in
- for loop
- index
- for loop using in
- index
- for loop using index
- multable
-  concatenation
    
#========================== PART-2=======================

**Intialization**

In [1]:
str1='python'
str1

'python'

In [2]:
str2='python'
str2

'python'

In [3]:
print(str1) # Do not confuse Im not seeing the quotes

NameError: name 'str1' is not defined

**NOTE**

- if we mentained single quotes or double quotes by defult python provides in single quotes only
- if we prints the strings we answer with out quotes

**triple quotes**

In [2]:
str3="""hi how are you
       im good"""
str3

'hi how are you\n       im good'

In [3]:
print(str3)

hi how are you
       im good

**Note**

- if we mentioned single quotes or double quotes by default python provides in singlequotes only
- If we print the strings, we will answer with out quotes
- Triple quotes are using for doc string
- In order to convey the information about coding part we will use doc string
- anything inside the single or double quotes is considered as string in python

**type**

In [3]:
type(str1) # type is string time

str

In [ ]:
str4='10'  # integer value infron the string
str5='10.5' # Float value in the for of string
str6='123abc'  # Alpha numeric in the form of strng
str7='True'  # Boolean in the form string
str8='sinx'

# All are in quotes, means in red color : strings

**len**

In [5]:
str1='python'
len(str1)

6

**max and min**

In [6]:
str1='python'
max(str1)

'y'

In [7]:
ord('p'),ord('y'),ord('t'),ord('h'),ord('o'),ord('n')

(112, 121, 116, 104, 111, 110)

In [8]:
str1='python'
min(str1)

'h'

**keywords vc methods**

In [ ]:
type(<>)
print(<>)
len(<>)
max(<>)
min(<>)
eval(<>)
input(<>)
sum(<>)

In [ ]:
- in oder to use to method we need to call package

import random
random.randint()

import math
math.sqrt()

import time
time.sleep()

In [4]:
str1='python123'
max(str1)

'y'

**sum**

In [12]:
str='python'
sum(str1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [13]:
'p'+'y'

'py'

In [14]:
sum([1,2,3])

6

**sorted**

In [ ]:
len('python')
max('python')
print('python')
min('python')
max('python')

In [15]:
sorted ('python')

['h', 'n', 'o', 'p', 't', 'y']

In [ ]:
sorted

In [16]:
sorted(str1,reverse=True)

['y', 't', 'p', 'o', 'n', 'h', '3', '2', '1']

- sorted gives ascending order based on ASCII numbers
- sorted is kind of a function
- Every function we have argument 
- in that one defult arguments is **reverse=False**
- by defult sorted output gives **ascending order**
- We can change the order,by providing **reverse=True**
- **if we do not mention,it will give the defult answer**

In [5]:
sorted('python',reverse=True)

['y', 't', 'p', 'o', 'n', 'h']

In [6]:
complex() # 0+0j

0j

In [7]:
complex(10,20)

(10+20j)

In [8]:
complex(real=10,imag=30)

(10+30j)

In [20]:
import random
random.randint()

TypeError: Random.randint() missing 2 required positional arguments: 'a' and 'b'

In [ ]:
function() # Answer
function(a,b) # this might return error, if we dont give the values of a,b
function(a=b,b=10) # Ans

In [ ]:
function() 
function(a,b) 
function(a=b,b=10)

In [29]:
import random
random.random()  # we will get answer but answer is not in our hands

0.11817107395929727

In [9]:
import random
random.randint(10,20)  # answer we can change

18

In [10]:
complex() # By defult 0,0

0j

In [31]:
complex(10,20)

(10+20j)

In [ ]:
sorted(iterable='python') # Frror
random.randint(a=10,b=30) # Answer

In [ ]:
sorted('python') # Answer
sorted('python',reverse=True)

**Note**

- we have arguments before / and after slase
- we can use argument name after / only
- for example sorted has arguments one is iterable and another one is 
- iterable is mentioned befor / symbol
- reverse is mentioned after / symbol
- so we can use only reverse argument name we are doing the work
- we can not use iterable arguments name
 - instead of using iterable name,we can provied direct value at that possition

**reversed**

In [ ]:
type()
len()
max()
min()
print()
sorted()

In [32]:
reversed('python')

- i already done my work
- your output is stored in that memory location
- whenever you this kind answer less thant and greater than symbol or memory
- use for loop to see the answer

In [36]:
str1='python'
output=reversed(str1)
for i in output:
    print(i)

n
o
h
t
y
p

In [37]:
sorted('azyced')

['a', 'c', 'd', 'e', 'y', 'z']

In [2]:
sorted('naresh',reverse=True)

['s', 'r', 'n', 'h', 'e', 'a']

In [3]:
reversed('naresh')

In [ ]:
for i in reversed('naresh')

In [ ]:
Intialization
- type
- len
- max
- min
- sum
- sorted
- reversed

In [ ]:
type(<value>)
eval(<value>)
input(<value>)
max(<v>)
min()
len()
sum()
sorted()
reveresd()

In [1]:
# sorted()
# It will provide the values either ascending or descending

sorted('naresh') # Ascending or Descending

# when I run directly it will give one answer
# the function has a default behaviour: ascending

# How this default mentioned
# we need to understand about arguments

['a', 'e', 'h', 'n', 'r', 's']

In [2]:
sorted('naresh',reverse=True)

# iterable
# key
# reverse

['s', 'r', 'n', 'h', 'e', 'a']

In [5]:
for i in reversed('naresh'):
    print(i)

h
s
e
r
a
n

In [6]:
sorted([1,10,2,20,30])
# 1,2,10,20,30
# 30,20,10,2,1

[1, 2, 10, 20, 30]

In [7]:
sorted([1,10,2,20,30],reverse=True)

[30, 20, 10, 2, 1]

**in**

In [8]:
str1='naresh'

'n' in str1

True

In [ ]:
# strings
# list
# tuples
# sets
# dictionary

In [9]:
str1='naresh'
'nn' not in str1

True

In [11]:
for i in str1:
    print(i)

n
a
r
e
s
h

**note**

- in operator directly access the letters

In [13]:
#Q1) wap ask the user count how many counthow many 'a' are present in a given string
# str1='hai naresh how are you'

# Idea: counter wrapper
# step-1: count=0
# step-2: using for loop in operator iterate through given string
# step-3: apply the if condition, whenever the letter equal to 'a'
# step-4: count=count+1

str1='hai naresh how are you'
count=0
for i in str1:
    if i=='a':
        count=count+1
print(count)
# step-1: i='h' if 'h'=='a' False     count=
# step-2: i='a' if  'a'=='a' T        count=0+1=0
# step-3: i='i' if  'i'=='a' F        count=1
#
# step-3: i='a' if  'a'=='a' T      count=1+1=2

3

In [16]:
# Q2) WAP ask the find how many vowels are there in a given string
# str1='hai naresh how are you'
# ans=9

count=0
str1='hai naresh how are you'
for i in str1:
    if i=='a' or i=='e' or i=='i' or i=='o' or i=='u':
        count=count+1
print("the count is:",count)

the count is: 9

In [17]:
count=0
str1='hai naresh how are you'
for i in str1:
    if i in 'aeiou':
         count=count+1
print("the count is:",count)

# step-1: i='h' if 'h' in 'aeiou' F

the count is: 9

In [19]:
count=0
str1='hai naresh how are you'
for i in str1:
    if i=='a' or i=='e' or i=='i' or i=='o' or i=='u':
        count=count+1
print("the count is:",count)

str1='hai naresh how are you'
count=0
for i in str1:
    if i=='a':
       count=count+1
print(count)

# Idea: counter wrapper
# step-1: count=0
# step-2: using for loop in operator iterate through given string
# step-3: apply the if condition, whenever the letter equal to 'a'
# step-4: count=count+1

the count is: 9
3

In [ ]:
# Q3) Home work qn
# str1='hai naresh how are you'
# Repetaed vowels are there
# We dont want repetaed vowels
# Count the vowels avoid the repeatition: Unique vowels
# Step-1: Count=0
# Step-2: take one more empty string: ex= s2=''
s2=''
# Step-3: using for loop in operator iterate through given string
# step-4: condition-1: That letter shoud not avaialble in s2
# step-5 condition-2: vowel check condition
# step-6 count=count+1
# step-7: update the s2= s2=s2+<letter>

**How to update the empty strings**

In [21]:
s1='python'
s2=''
for i in s1:
    s2=s2+i      # Concatenation

s2

'python'

**Concatination**

In [14]:
s1='hello'
s2=' bye '
s1+s2

'hello bye '

In [15]:
s1='hello'
s2=' bye '

s1+s2

'hello bye '

In [16]:
s1='hello'
s2=' '
s3='bye'
s4=s1+s2+s3
s4

'hello bye'

In [ ]:
s1='hello'
s2='bye'
s1*s2
s1/s2
s1-s2

In [22]:
s1='hello'
s2='bye'
s1*s2

TypeError: can't multiply sequence by non-int of type 'str'

In [23]:
s1='hello'
s2='bye'
s1-s2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [24]:
s1/s2

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [ ]:
# s1*s2: can't multiply sequence by non-int of type 'str'

# s1-s2: unsupported operand type(s) for -: 'str' and 'str'

# s1/s2: unsupported operand type(s) for /: 'str' and 'str'

In [17]:
s1='hello'
s2=2
s1*s2

'hellohello'

In [ ]:
s1+s2 ===> s1*2

2*3  3*2

**index**

- index meaning a number arrached to a letter
- in python index start with zero
- we have two directions

       - positive direction

          - positive number start with zero

       - negative direction

          - negative numbers start with-1, applicable to last letter

In [ ]:
s1='python'

-6  -5   -4   -3   -2   -1  ===> negative
p    y    t    h    o    n  
0    1    2    3    4    5  === > postive

In [25]:
s1='python'
s1[0],s1[1],s1[2],s1[3],s1[4],s1[5]

('p', 'y', 't', 'h', 'o', 'n')

In [26]:
s1='python'
s1[-1],s1[-2],s1[-3],s1[-4],s1[-5],s1[-6]

('n', 'o', 'h', 't', 'y', 'p')

**mutable-immutable**

- mutable: can change
  - we can change using indexing
- immutable: can not change
  - we cannot change change using indexing

In [2]:
s='Welcome'       # welcome
# i want to replace 'l' with 'L'
# possible
# not possible
s[2]='L'

TypeError: 'str' object does not support item assignment

## strings are immutable

In [4]:
l=[1,2,3,4]   # 2= 200
l[1]=200
l

[1, 200, 3, 4]

In [ ]:
s='Welcome' 
s[2]='L'
#########################################
l=[1,2,3,4]   
l[1]=200
l

- range belongs to which family

   - math family

- inside range bracket what we need to provied

   - number

- how many numbers we need to provied 

   - number of letter : len(string)

- how to access the letter using number

   - by using index

In [3]:
# Q4) print each latter using for loop change
s='Welcome'
# inside bracket we need to provide a number
# How many numbers we need to provide
# number of letters=7
# How to access a letter using number:
s='welcome'
for i in range(7):
    print(s[i])
# i=0   s[0]=w
# i=1   s[1]=e

w
e
l
c
o
m
e

In [10]:
s='Welcome to naresh it'
n=len(s)
for i in range(n):
    print(s[i])

W
e
l
c
o
m
e

t
o

n
a
r
e
s
h

i
t

- **for-in** directly access the letter 

- **for-range** will access using index

In [11]:
s='Welcome'

for i in s:
    print(i)

W
e
l
c
o
m
e

In [ ]:
# Q5) wap ask the user interate using a string
# string='welcome'
# print the possitive index of w is 0
#       the possitive index of e is 1
#       the possitive index of l is 1

#Q6) wap ask the user interate using a string
# string='welcome'
# print the negative index of w is -7
#       the negative index of e is -6
#       the negative index of l is -5

In [4]:
# Q5) wap ask the user interate using a string
# string='welcome'
# print the possitive index of w is 0
#       the possitive index of e is 1
#       the possitive index of l is 1
s='welcome'
for i in range(len(s)):
    print(i,s[i])
    print(f"The postive index of {s[i]} is {i}")

0 w
The postive index of w is 0
1 e
The postive index of e is 1
2 l
The postive index of l is 2
3 c
The postive index of c is 3
4 o
The postive index of o is 4
5 m
The postive index of m is 5
6 e
The postive index of e is 6

In [5]:
# Q6) wap ask the user iterate using a string
# string='welcome'
# print the negative index of w is -7
#       the negative index of e is -6
#       the negative index of l is -5
# the positive index is 0 and the negtaive index -7 for w
s='welcome'
for i in range(len(s)):
    print(i,i-len(s))
    print(f"the negative index of {s[i]} is {i-len(s)}")
# 0-7==== -7
# 1-7==== -6
# 2-7 ==== -5

0 -7
the negative index of w is -7
1 -6
the negative index of e is -6
2 -5
the negative index of l is -5
3 -4
the negative index of c is -4
4 -3
the negative index of o is -3
5 -2
the negative index of m is -2
6 -1
the negative index of e is -1

In [6]:
# Q7) wap ask the user interate using a string
# string='welcome'
# print the negative index of w is 0
#       the negative index of e is 1
#       the negative index of l is -7

s='Welcome'
n=len(s)
for i in range(len(s)):
    print(f"the positive index is {i} and the negtaive index {i-len(s)} for {s[i]}")

the positive index is 0 and the negtaive index -7 for W
the positive index is 1 and the negtaive index -6 for e
the positive index is 2 and the negtaive index -5 for l
the positive index is 3 and the negtaive index -4 for c
the positive index is 4 and the negtaive index -3 for o
the positive index is 5 and the negtaive index -2 for m
the positive index is 6 and the negtaive index -1 for e

In [21]:
s='Welcome'
n=len(s)
for i in range(n):
    print(f" the possitive  index is {i } and the negative index {i-len(s)} for {s[i]}")

 the possitive  index is 0 and the negative index -7 for W
 the possitive  index is 1 and the negative index -6 for e
 the possitive  index is 2 and the negative index -5 for l
 the possitive  index is 3 and the negative index -4 for c
 the possitive  index is 4 and the negative index -3 for o
 the possitive  index is 5 and the negative index -2 for m
 the possitive  index is 6 and the negative index -1 for e

In [7]:
#Q8) wap ask the user to get the index of each 'a' in a given string
# s='hai how are you i am good'
# a=1 8 18
s='hai nareshn how are you i am good'
for i in range(len(s)):
    if s[i]=='a':
       print(i)
        
s='hai how are you i am good'
for i in s:
    if i=='a':
        print(i)

1
5
16
26
a
a
a

In [8]:
#9) wap ask the user to get count of number of 'a' in a given string
#   using for range

s='hai how are you i am good'
count=0
for i in range(len(s)):
    if s[i]=='a':
       count=count+1

count

3

In [13]:
#Q10) wap ask the user get the sum of all index numbers of 'a'
# 1+8+18= 27
s='hai how are you i am good'
count=0
for i in range(len(s)):
    if s[i]=='a':
        summ=summ+i

summ()

NameError: name 'summ' is not defined

In [14]:
#Q11) wap ask the user get the vowels from a given string using for-range
s='hai how are you i am good'
count=0
for i in range(len(s)):
    if s[i] in 'aeiou':
      print(s[i])
      count=count+1
        
print("The number of vowels are:",count)

a
i
o
a
e
o
u
i
a
o
o
The number of vowels are: 11

In [15]:
#Q12) wap ask the user get the vowels from a given string using for-range
s='hi how re you i m good'
s1=''
count=0
for i in range(len(s)):
  if s[i] not in s1: # we are checking the letter is avalible in s1(it should)
      print(s[i])
      s1=s1+s[1]
      count=count+1
print("the number of vowels are:",count")

SyntaxError: unterminated string literal (detected at line 10) (2611412663.py, line 10)

In [17]:
#Q13)updated wap ask the user get the vowels from a given string using for-range
s='hi how re you i m good'
s1=''
count=0
for i in range(len(s)):
    if s[i] not in s1 and s[i] in 'aeiou':
        print(s[i])
        s1=s1+s[i]
        count=count+1
    
print("The number of vowels are:",count)

i
o
e
u
The number of vowels are: 4

In [ ]:
#Q14) string='ola ola ola'

# answer should be 3

#Q15) string1='hello hello hello how how how how are you'
# what is the most repeated word  : how

#Q16) string1='hellooooo how aree u'
# what is the maximum length of word: helooo
# what is the minimum length of word: u

#Q17) without using sorted then sort the letters

In [4]:
sorted('hello')

['e', 'h', 'l', 'l', 'o']

**Slice**

- we can cut into pieces
- Similar to range concept
- start , stop ,step here also

In [2]:
str1='hai how are you'

In [ ]:
-15 -14 -13 -12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1
  h   a   i       h   o  w     a  r  e     y  o  u
  0   1   2  3    4   5  6  7  8  9 10 11 12 13  14

In [ ]:
str1[start:stop:step]

$pattern-1$

**str1[start:]**

- By default start value = start only
- Last value nothing mentioned automatically it will go till = last only
- Step nothing mentioned means , It is a postive direction and increment by 1

In [13]:
#-15 -14 -13 -12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1
#  h   a   i       h   o  w     a  r  e     y  o  u
#  0   1   2  3    4   5  6  7  8  9 10 11 12 13  14
str1='hai how are you'
str1[5:]

'ow are you'

In [7]:
str1[10:]

'e you'

In [8]:
str1[-5:]

'e you'

In [9]:
str1[5:],str1[-10:] # Both will give same answer

('ow are you', 'ow are you')

In [10]:
str1[14:]

'u'

In [11]:
str1[-1:]

'u'

$pattern-2$

**str1[start:stop]**

- start value means by default start only
- step is not mentioned postive direction
- last = stop-1

In [14]:
#-15 -14 -13 -12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1
#  h   a   i       h   o  w     a  r  e     y  o  u
#  0   1   2  3    4   5  6  7  8  9 10 11 12 13  14
str1='hai how are you'
str1[5:14]

'ow are yo'

In [20]:
str1[-5:14]
# start=-5
# lasr = 14-1=13   positive

'e yo'

In [17]:
str1[-5:14]

'e yo'

In [15]:
str1[-5:-14] # Postive

''

In [ ]:
#-15 -14 -13 -12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1
#  h   a   i       h   o  w     a  r  e     y  o  u
#  0   1   2  3    4   5  6  7  8  9 10 11 12 13  14
str1='hai how are you' # step is mentioned or not mentioned
str1[5:14], # Answer
str1[-5:14], # Answer
str1[5:-14], # No answer
str1[-5:-14] # No answer

In [16]:
str1[5:500]

'ow are you'

**Truncation behaviour**
  
- when ever string range is limited, but we provided unlimited number
- string will consider till the range we have
- In the above example our range only 15 letters
- we provided 500 , then 500 will truncate to till 15 letters only

In [ ]:
str1[5:500]  # Answer
str1[-500:500]  # Answer
str1[-1:500]  # Answer
str1[500:]  # no answer
str1[-500:-100] # No answer

$pattern-3$ **str1[strat:stop:step]**

- start value means start only
- If step value positive
     - last value= stop-1
- If step value negative
     - last value=stop+1

In [21]:
len(str1)

15

In [ ]:
str2='yeshwanth'
y  e  s  h  w  a  n  t  h
0  1  2  3  4  5  6  7  8

In [ ]:
#-15 -14 -13 -12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1
#  h   a   i       h   o  w     a  r  e     y  o  u
#  0   1   2  3    4   5  6  7  8  9 10 11 12 13  14

str1[2:13:2] # P
str1[2:13:-2] # NP
str1[2:-13:2] # NP (CHECK) str1[2:-13] str1[2:3:2] str1[2:2]
str1[2:-13:-2] # NP (CHECK)
str1[-2:13:2] # NP (CHECK)
str1[-2:-13:2] # NP
str1[-2:-13:-2] # P
str1[13:2:2] # NP
str1[-13:2:2] # NP (CHECK)
str1[-13:-2:2] # P
str1[-13:-2:-2] # NP
str1[-13:2:-2] # NP(CHECK)

In [ ]:
==================== PART-1=====================================
- Intiaization

- type

- len

- max

- min

- sorted

- reveresed

- in


- for loop using in

- index
    
- for loop using index
    
- mutable 
    
- concatenation
    
- slice

#================== PART-2=====================
# Methods

In [22]:
#-15 -14 -13 -12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1
#  h   a   i       h   o  w     a  r  e     y  o  u
#  0   1   2  3    4   5  6  7  8  9 10 11 12 13  14

str1[:5:-2]  # start value   -1

'uyeaw'

In [ ]:
str1[-13:2:2] # postive direction start value :0

In [ ]:
str1[:] # Complete string
str1[::] # Complete string
str1[<start>::-1] # Reveres start value=-1
str1[<start>:5:-2]

**Methods**
  
- Strings lists tuple dictionary every data type has its own methods

- We already seen that packages has different method

- For example random package : randint method

- Math package : sqrt

- In the same way strings also have methods

- In order to see methods for the packages

    - we are importing the package

    - we are applying dir

- In the similar way in order to see the methods of string , we need to apply dir only

In [24]:
dir('')
# dir('hai')
# str1='apple'
# dir(str1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

- lower
- upper
- capitalize
- Title
- casefold
- Center

**upper**

In [ ]:
str1='hai how are you'

In [25]:
type(str1)
help(str1.upper)

Help on built-in function upper:

upper() method of builtins.str instance
    Return a copy of the string converted to uppercase.

In [26]:
str1.upper()

'HAI HOW ARE YOU'

In [30]:
str1.upper()

'HAI HOW ARE YOU'

In [28]:
str1='hai how are you'
str1.upper()

'HAI HOW ARE YOU'

**lower**

In [31]:
help(str1.lower)

Help on built-in function lower:

lower() method of builtins.str instance
    Return a copy of the string converted to lowercase.

In [32]:
str1.lower()

'hai how are you'

**capitalize**

In [33]:
str1.capitalize()

'Hai how are you'

**casefold**

In [34]:
str1.casefold()

'hai how are you'

**Title**

In [35]:
str1.title()

'Hai How Are You'

In [ ]:
# str1='hai how are you'
# o/p = 'Hai How Are You'
# with out using any method
# One more level : iterate each letter apply capitalize
# scratch : ord char

**center**

In [37]:
str1.center(20)

'  hai how are you   '

In [36]:
len(str1.center(20))

20

- center has two arguments

    - width

    - fill char

- original string alread : 15 lettters

- we want to create a new string with 20 letters

- Remaining 5 letters by default empty

- we can fill with charcters also

In [38]:
str1.center(26,'*')

'*****hai how are you******'

In [39]:
str1.center()

TypeError: center expected at least 1 argument, got 0

**count**

In [ ]:
str1='hai how are you'
# How many 'a's are there

In [ ]:
count=0
for i in str1:
    if i=='a':
        count=count=+1
count=0

In [12]:
str='hai how are you'
str1.count('a')

3

In [8]:
str1='hai hai hai'
str1.count('a')

3

In [ ]:
- we want number of a from a specific index
- we wnat of a between two indexes

In [9]:
#h  a  i    h  a  i  h    a  i
#0  1  2 3  4  5  6  7 8  9  10
str1.count('a')
str1.count('a',5)

2

In [ ]:
str.count('a'3)
# We are searching number of 'a' from index=3

In [10]:
#h  a  i    h  a  i  h    a  i
#0  1  2 3  4  5  6  7 8  9  10
str1.count('a') # All the 'a'
str1.count('a',5) # We are searching number of 'a' from index=3
str1.count('a',4,8)# We are searching number of 'a' from index=8

1

In [11]:
# Reverse check Raro

In [ ]:
# In the interviews he ask with out using method
# After you got job

In [ ]:
str1='ola ola ola'
for i in str1:
    if i=='ola':   # 'o'  =='ola'
        print(i)

**Window method**

In [ ]:
str1[i:i+3]
i=0   str[0:3]  === > ola
i=1   str[1:4]  === > la
i=2

In [14]:
str='ola ola ola'
count=0
for i in range(len(str1)):
    if str[i:i+3]=='ola':
        count=count+1

print(count)

3

In [17]:
str1='ola ola ola'
str1.count('ola ola ola')

1

In [20]:
str1='ola ola ola'
str1.count(str1)

1

In [21]:
str.count('z')

0

**Replace**

In [ ]:
str1='Welcome'
# I wnat to replace 'l' with 'l'

In [22]:
# we know that string are immutable
# we cannot use index operations also
# slice and concatenation
# divide welcome : we   come
# s1='we'
# s2='come'
# s1+'l'+s2

str1='welcome'
s1=str1[0:2]
s2=str1[3:]
s1+'l'+s2

'welcome'

In [28]:
chr(ord('l')-32)  # try this

'L'

In [26]:
str1= 'welcome'
str1.replace('1','L')

'welcome'

In [25]:
str1= 'welcome'
str1.replace('1','L')

'welcome'

In [ ]:
- by defult replace will chanf=ge all the occurances
- count=-1 is responsible for that
- which mwans we can procide some count also,which how many i want 
- give wellcome and change count=1 count=2 explare it

In [29]:
str1= 'welcome'
str1.replace('1','L',1)

'welcome'

In [30]:
str1= 'welcome'
str1.replace('1','L',2)

'welcome'

In [32]:
# str1='restart'
# i/p= 'resta$t'

str1='restart'
s1=str1[:1]
s2=str1[1:]
s3=s2.replace('r','$')
s1+s3

'resta$t'

In [ ]:
Q. why is

In [33]:
str1='restart'  #This case
str1[::-1].replace('r','$',1)[::-1]

'resta$t'

**index-find**

In [ ]:
- upper

- lower

- casefold

- title

- capitalize

- count

- replace

- index-find

- split

- strip

- statswith

In [34]:
dir('')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',

In [35]:
str1='HELLO'
str1.isupper()

True

In [1]:
str1='Hello'
str1.istitle()

True

In [2]:
str1='HELLO'
str1.istitle()

False

**index-find**

- index says that it will give the ing=dex of any letter string

- we already seen about count: count will give how many letters are then

          - at what index you to count

          - between indexes also we can count the letter

- index meaning it will provide the index

- imagine that there same letters repeated

- how can we find the next index

In [3]:
#h  a  i    h  a  i  h    a  i
#0  1  2 3  4  5  6  7 8  9  10
str1='hai hai hai'
str1.index('a')
# Return the lowest index in s where substring sub is found,

1

In [3]:
# i want to know 'a' index after 3rd index
str1='hai hai hai'
str1.index('a',3)

5

In [4]:
# i want to know 'a' index after 3rd and 7th index
#h  a  i    h  a  i    h    a   i
#0  1  2 3  4  5  6  7 8  9 10
str1='hai hai hai'
str1.index('a',3,7)

5

In [5]:
# i always a return a lowest index
str1='hai hai hai'  
str1.index('a')       # among all the index the lowest index is '1'

str1='hai hai hai'
str1.index('a',3)     # after 3rd index the lowest index is '5'

str1='hai hai hai'
str1.index('a',3,7)   # between 3-7 index lowest index is '5' only

5

In [6]:
str1='hai hai hai'
str1.index('a',-3,-1)       # among all the indexes the lowset index is '1'

9

In [ ]:
#h  a  i    h  a  i  h    a  i
#0  1  2 3  4  5  6  7 8  9  10

In [7]:
str='hai hai hai'
print(str.index('a',-9,-5,-6))
# possitive direction
# start= start = -9
# last = end-1 = 6-1=5
# -9 -8 -7
# i h
# there is no 'a'

TypeError: index() takes at most 3 arguments (4 given)

In [ ]:
str1='hai hai hai'
print(str1.count('a'))
print(str1.count('a',3))
print(str1.count('a',3,7))

In [8]:
# -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1
# h    a   i     h  a  i     h  a  i
# 0    1   2  3  4  5  6  7  8 9 10
str1= 'hai hai hai'
print(str1.count('a'))
print(str1.count('a',3))
print(str1.count('a',3,7))

3
2
1

In [9]:
# -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1
# h    a   i     h  a  i     h  a  i
# 0    1   2  3  4  5  6  7  8 9 10
str1= 'hai hai hai'
print(str1.index('a'))
print(str1.index('a',3))
print(str1.index('a',3,7))

1
5
5

In [ ]:
Sir, yesterday assignment methods are string methods right?
Why those are not visible in string package? Those are visible with dir('') not
import string
name='praveen'
dir(name)
dir(string)

In [10]:
str1='hai hai hai'
# I want to know all the indexes of 'a'
for i in range(len(str1)):
    if str1[i]=='a':
        print(i)

1
5
9

In [11]:
# h    a    i    h  a  i    h  a  i  hai
# 0    1    2  3 4  5  6 7   8 9 10
str1='hai hai hai hai'
i1=str1.index('a')
print(i1)
i2=str1.index('a',i1+1)
print(i2)
i3=str1.index('a',i2+1)
print(i3)
i4=str1.index('a',i3+1)
print(i4)

1
5
9
13

In [12]:
# Home work implement above logic to get all the indexes
# h     a     i         h  a  i       h  a   i    hai
# 0     1     2  3      4  5  6  7     8  9  10
str1='hai hai hai hai'
i1=str.index('a')
print(i1)  # 1
i2=str1.index('a',i1+1)
print(i2)  # 5
i3=str1.index('a',i2+1)
print(i3)
i4=str1.index('a',i3+1)
print(i4)
i5= str1.index('a',i4+1)
print(i5)

1
5
9
13

ValueError: substring not found

**find**

In [13]:
str1='hai hai hai hai'
i1=str1.find('a')
print(i1) # 1
i2= str1.find('a',i1+1)
print(i2) # 5
i3= str1.find('a',i2+1)
print(i3)
i4= str1.find('a',i3+1)
print(i4)
i5= str1.find('a',i4+1)
print(i5)

1
5
9
13
-1

In [ ]:
str1.index()  # Raiser ValueError when the sucstring is not found
str1.find()  # Return -1 on failure.

In [2]:
str1='hai hai hai'
str1.count('z')

0

In [19]:
str1='hai hai hai'
str1.replace('z','z')

'hai hai hai'

- if substring not found
- count method will give zero
- replace method will give original string
- index will give **sub string not found error**
- find will give - 1

In [ ]:
str='omkar.nalgoni@congnixant.com'
# First name= omkar
# second name= nallagoni
# company nmae= cognizant
str2='virat.kholi@rcb.com'
str3='virat.sharma@mi.com'
str4='a.b@c.com'

# idea : find the triggers
# For first name  .
# second name    .  and @
# company name    @ and second .
# i1= first dot index
# i2= @ index
# i3= second index

In [1]:
str1='omkar.nallagoni@cognizant.com'
i1=str1.index('.')
i2=str1.index('@')
i3=str1.index('.',i1+1)
first_name=str1[:i1]
second_name=str1[i1+1:i2]
cname=str1[i2+1:i3]
first_name,second_name,cname

('omkar', 'nallagoni', 'cognizant')

- count

- replace

- find

- index

- Upper/lower/casefold

- Capitalize/Title

- Center

- Count

- Replace

- index/find

- start with is

In [ ]:
- split
- strip/lstrip/rstrip
- startswith/endswith